*{
    box-sizing: border-box;
}

html{
    line-height: 1.15;
}

body{
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(.35842vw + .95296em);
}

/* Header Section */
.main-header{
    padding: 1rem 2em;
    display: grid;
    position: relative;
    justify-content: flex-start;
    column-gap: 10px;
    z-index: 2;
    align-items: center;
    grid-template-columns: min-content minmax(140px,2fr) 0 minmax(100px,350px);
}

.logo{
    font-size: 3em;
    line-height: 0;
    width: 3em;
    position: relative;
    z-index: 0;
}

.logo a{
    display: block;
    background: 0 0;
    outline: 0;
    padding: 0;
    color: transparent;
    text-shadow: none;
}

.logo a picture {
    display: block;
}

.main-nav{
    position: relative;
    display: block;
    min-width: 0;
    grid-column: auto;
    font-size: 1.05em;
}

.menu-bar{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    width: 100%;
    min-width: 0;
    justify-content: space-between;
}

.menu-bar li{
    padding-left: 1.1em;
}

.nav-item{
    flex-grow: 0;
    background: 0 0;
    text-shadow: none;
    color: inherit;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-item a{
    color: #333;
    text-decoration: none;
    font-weight: 400;
}

.main-nav-more{
    margin-left: .35em;
    position: relative;
    width: 145px;
}

.nav-more-btn{
    white-space: nowrap;
    padding: .35em .5rem .35em 1rem;
    border: 1px solid rgba(0,0,0,.05);
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 1;
    background-color: rgba(0,0,0,.2);
    border-radius: 11px;
    box-shadow: 0 13px 27px -15px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
    position: relative;
}


.nav-more-btn::after{
    content: '';
    display: block;
    margin-left: .4em;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://www.smashingmagazine.com/images/icons/menu-cat.svg);
}